# Import the necessary libraries

In [3]:
#Importing the necessary librabries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

#Load the dataset
data = pd.read_csv('Feature films.csv')
data.head()

,Title,Genre,Premiere,Runtime,Language
0,Four to Dinner,Romantic comedy,"January 5, 2022",1 h 30 min,Italian
1,The Wasteland,Horror,"January 6, 2022",1 h 32 min,Spanish
2,How I Fell in Love with a Gangster,Drama,"January 12, 2022",2 h 59 min,Polish
3,Brazen,Romantic thriller,"January 13, 2022",1 h 36 min,English
4,Photocopier,Coming-of-age drama,"January 13, 2022",2 h 10 min,Indonesian

In [5]:
data.isnull().sum()

Title       0
Genre       0
Premiere    0
Runtime     0
Language    0
dtype: int64

In [8]:
#Checking for duplicates
data[data.duplicated()]

#there is none

Empty DataFrame
Columns: [Title, Genre, Premiere, Runtime, Language]
Index: []

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     172 non-null    object
 1   Genre     172 non-null    object
 2   Premiere  172 non-null    datetime64[ns]
 3   Runtime   172 non-null    object
 4   Language  172 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 6.8+ KB

In [11]:
data['Premiere'] = pd.to_datetime(data['Premiere'])

In [13]:
data.head()

,Title,Genre,Premiere,Runtime,Language
0,Four to Dinner,Romantic comedy,2022-01-05,1 h 30 min,Italian
1,The Wasteland,Horror,2022-01-06,1 h 32 min,Spanish
2,How I Fell in Love with a Gangster,Drama,2022-01-12,2 h 59 min,Polish
3,Brazen,Romantic thriller,2022-01-13,1 h 36 min,English
4,Photocopier,Coming-of-age drama,2022-01-13,2 h 10 min,Indonesian